.navbar {
    color: #eb3f44;
    text-align: right;
    font-family: 'ProggyCrossed Regular';
    padding-top: 40px;
    padding-right: 50px;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.navbar-item {
    display: inline;
    padding-right: 30px;
}

a {
    color: #ffff;
    text-decoration: none;
}